{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>
      {%if title %} <!--context var--> {{title}} {%else%} Student Inquiry
      Application {%endif%}
    </title>
  </head>

  <body>
    <div class="wrapper">

      <div id="content">

        <nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
          
          <div class="container-fluid col-md-6">
            <div class="navbar-header">
              <button
                type="button"
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#">
                {%if title %}
                <!--context var-->
                {{title}} {%else%} Student Inquiry Application {%endif%}
              </a>
            </div>
          </div>

          <div class="collapse navbar-collapse cold-md-6 justify-content-end px-2" id="navbarSupportedContent">
              <ul class="nav navbar-nav nav-fill">
                <!--Home-->
                <li class="nav-item">
                  <!--Handling access to home view-->
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <!-- Admin Resquest Dropdown -->
                <li class="nav-item dropdown">
                  <a
                    class=" nav-link dropdown-toggle"
                    href="#adminsrequestsSubmenu"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close = "true"
                    aria-expanded="false"
                    style="color: gray;"
                    >Administrative Requests</a
                  >
                  <ul class="dropdown-menu" id="adminsrequestsSubmenu">
                    <li>
                      <!--Go to admin..-list view-->
                      <a
                        class="dropdown-item"
                        
                        href="{% url 'admin-requests-list' %}"
                         
                      >View</a
                      >
                    </li>
  
                    <!--Handling authorization with Django-->
                    {% if user.is_student or user.is_teamlead %}
                    <li>
                      <!--Go to create view-->
                      <a
                        class="dropdown-item"
                        
                        href="{% url 'admin-requests-create' %}"
                        
                        >Add</a
                      >
                    </li>
                    {% endif %}
                  </ul>
                </li>
                <!--Academic Request Dropdown-->
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#academicrequestsSubmenu"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close = "true"
                    aria-expanded="false"
                    style="color: gray"
                    >Academic Requests</a
                  >
                  <ul class="dropdown-menu" id="academicrequestsSubmenu">
                    <li>
                      <!--Handling access to  academ..-list view-->
                      <a
                        class="dropdown-item"
                        
                         href="{% url 'academic-requests-list' %}"
                        
                        >View</a
                      >
                    </li>
                    <!--Handling authorization with Django-->
                    {% if user.is_student %}
                    <li>
                      <!--Go to create view-->
                      <a
                        class="dropdown-item"
                        
                        href="{% url 'academic-requests-create' %}"
                        
                        >Add</a
                      >
                    </li>
                    {% endif %}
                  </ul>
                </li>
                 <!--Logout -->
                <li>
                  <!--Updated since Django doesn't allow this operation
                  be handled by a GET Method (Security Issues)-->
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-dark" style="color: gray" type="submit">Log Out</button>
                  </form>
                </li>
                {% endif %}
              </ul>
              <!--Handling authorization with Django-->
              {% if not user.is_authenticated %}
              <ul class="nav navbar-nav nav-fill">
                <li class="nav-item">
                  <!--Go to login view-->
                  <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                  <!--Go to registration view-->
                  <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                </li>
              </ul>
              {% endif %}
          </div>
        </nav>

        <main role="main" class="container">
          <div class="row">
            <div class="col-md-12 my-3">
              <!--Custom logic for messages-->
              {% if messages %} {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                <!--context var-->
                {{ message }}
              </div>
              {% endfor %} {% endif %} {% block content %}{% endblock %}
            </div>
          </div>
        </main>

        <footer class="footer mt-4 py-3 bg-dark fixed-bottom">
          <div class="container text-center">
            <span class="text-muted">
              Special thanks to
              <a
                href="https://developers.africastalking.com/docs/sms/sending/premium"
              >
                Axvil Tomes</a
              >
            </span>
          </div>

        </footer>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
